{
    "name": "{{ package.name }}",
    "description": "{{ inline( swagger.info.description) }}",
    "version": "{{ swagger.info.version }}",
    "scripts": {
        "lint": "tslint --project tsconfig.json",
        "test": "npm run lint && npm run test:unit",
        "test:unit": "jest",
        "test:unit:self-spinup": "node runTests.js"
    },
    "repository": {
        "type": "git",
        "url": "git@github.com:acrontum/openapi-nodegen-typescript-api-test-rig.git"
    },
    "author": "",
    "license": "ISC",
    "devDependencies": {
        "@types/jest": "^24.0.18",
        "@types/dotenv": "^6.1.0",
        "@zerollup/ts-transform-paths": "^1.7.3",
        "dotenv": "^8.0.0",
        "jest": "^24.9.0",
        "jest-watch-typeahead": "^0.4.0",
        "npm-update-git-deps": "^1.2.5",
        "openapi-nodegen-config-helper": "1.0.4",
        "object-reduce-by-map": "latest",
        "request-promise": "^4.2.4",
        "ts-jest": "^24.0.2",
        "ts-node": "^8.4.1",
        "tslint": "^5.19.0",
        "ttypescript": "^1.5.7",
        "typescript": "^3.6.2",
        "url-join": "4.0.1"
    }
}
