import {{ucFirst(operation_name)}}Service from '../src/nodegen/services/{{ucFirst(operation_name)}}Service'

describe('{{ucFirst(operation_name)}}', () => {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if isValidMethod(key) %}
  it('Operation ID: {{ path.operationId }}', (next) => {
    //
    next()
  })
      {% endif %}
    {%- endfor %}
  {%- endfor %}
})
