import request from 'request-promise';
import HttpService from '../../lib/HttpService';
import { HttpMethodEnum } from '../enums/HttpMethodEnum'
{% set interfaces = importInterfaces(operations) %}
{% for interface in interfaces -%}
import {{ interface }} from '../interfaces{{ interface }}';
{%- endfor %}

class {{ucFirst(operation_name)}}Service extends HttpService {
{% for op in operations -%}
  {% for method, path in op.path -%}
    {% if isValidMethod(method)%}
  // {{ path.operationId }}
  public {{ path.operationId }} ({{ pathParamsToDomainParams(path, true) }}): Promise<request.Response>{
    return this.sendRequest({
      method: HttpMethodEnum.{{ method | upper}},
      path: '{{ urlPathJoin(op.path_name)}}',
      {% for requestType, value in path['x-request-definitions'] -%}
        {% if requestType === 'path' %}params: {{ requestType }},
        {% elif requestType === 'query' %}qs: {{ requestType }},
        {% else %}{{ requestType }},
        {% endif %}
      {%- endfor %}
    })
  }
  public {{path.operationId}}ResponseFormat = {{ trimEnd(paramsOutputReducer(path.responses), ',') }}

    {% endif %}
  {%- endfor %}
{%- endfor %}
}

export default new {{ucFirst(operation_name)}}Service();
